<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--IOC控制，扫描service相关的包，并实例化成对象，存入到spring容器中-->
    <context:component-scan base-package="online.luffyk.service"/>
    <!--引入外币的properties文件-->
    <context:property-placeholder location="classpath:database.properties"/>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!--配置MyBatis会话工厂-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--引入mapper映射文件-->
        <property name="mapperLocations" value="classpath:sqlmap/*.xml"/>
        <!--引入mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!--引入mapper接口，并实例化成对象，存入到Soring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="online.luffyk.dao"/>
    </bean>

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--通知策略-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert*"/>
            <tx:method name="add*"/>
            <tx:method name="remove*"/>
            <tx:method name="delete*"/>
            <tx:method name="save*"/>
            <tx:method name="update*"/>
            <!--如果上面六条都不匹配，进入最后一条，不允许增删改操作，只读，一定程度上约束了命名规范-->
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!--AOP配置-->
    <aop:config>
        <!--切入点配置-->
        <aop:pointcut id="servicePoint" expression="execution(* online.luffyk.service..*.*(..))"/>
        <!--织入事务-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="servicePoint"/>
    </aop:config>
</beans>